:root {
  --primary-color: #a73489;
}

.App {
  text-align: center;
}

header {
  padding: 50px;
  margin-bottom: 50px;
  color: var(--primary-color);
}

form {
  display: grid;
  grid-gap: 30px;
  justify-items: center;
}

.inputContainer {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  justify-items: center;
}

label {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--primary-color);
}

input {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1rem;
  width: 30%;
}

button {
  padding: 10px 50px;
  width: 30%;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  background: var(--primary-color);
  color: #fff;
}

.result {
  margin: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--primary-color);
}

footer {
  margin-top: 50px;
  padding: 20px;
  font-size: 1.1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--primary-color);
}
